<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233904932720-411r1dv5id86dti4rg8kkh82ni1njilt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233904932720-411r1dv5id86dti4rg8kkh82ni1njilt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233904932720-mhcjpe5u0q9m87kmi2uvbcqfaa8r1n7v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUOiw9dcU6VUNNu0W6DSjU4TgQuV__6Lg</string>
	<key>GCM_SENDER_ID</key>
	<string>233904932720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softEng</string>
	<key>PROJECT_ID</key>
	<string>auth-7a726</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-7a726.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233904932720:ios:e1286c40388a45b16431b5</string>
	<key>DATABASE_URL</key>
	<string>https://auth-7a726.firebaseio.com</string>
</dict>
</plist>